version: "3.8"

services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment: 
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: tienda_db
      MYSQL_USER: nicowax_tienda
      MYSQL_PASSWORD: tienda_pass
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql
    
volumes:
  db-data: